# ===== OS & TEMP =====
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# ===== EDITORS =====
.idea/
.vscode/
.atom/
*.iml
*.ipr
*.iws

# ===== VERSION CONTROL =====
.svn/
.history

# ===== FLUTTER / DART =====
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# ===== ANDROID =====
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
android/app/debug/
android/app/profile/
android/app/release/

# ===== iOS =====
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
**/ios/Flutter/.last_build_id

# ===== SYMBOLS =====
app.*.symbols
app.*.map.json

# ===== SWIFT =====
.swiftpm/
migrate_working_dir/
